*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
	
}
ul{
	list-style-type: none;
    color: black;
    margin-top: 25px;
    padding: 31px 478px;
    float: unset;
    font-size: 50%;
    font-weight: bolder;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: black;
	font-weight: bolder;
	font-size: large;
	
	padding: 10px 15px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}
ul li a:hover{
	background-color : black;
	color: #EDECED;

}
ul li.active a{

}
.logo img{
	float: left;
    width: 78px;
    height: auto;
    padding: 3px 104px;
	cursor: pointer;
}
.button{
    top: 6%;
    border: 2px;
	position: absolute;
	background-color: #8d99ae;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	margin: 4px 2px;
    left: 80%;
    float: right;
    padding: 14px 25px;
}
.btn{
    text-decoration: none;
    transition: 0.6s ease;
    color: black;
    font-size: 19px;
    font-weight: bolder;
    padding: 5px 0px;
}
.btn:hover{
	background-color : green;
	color: #EDECED;
}

hr{
	width: 91%;
    height: 1px;
    background-color: orange;
    margin-left: 6%;
    margin-top: 17px;
    border-width: 1px;
    border-color: black;
}